name: Deploy to Server

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VM_KEY }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          port: 22
          key: ${{ secrets.VM_KEY }}
          script: |
            set -e
            echo "Pulling latest code..."
            cd /home/ubuntu/smartail-assigment
            if [ -d ".git" ]; then
              git fetch --all
              git reset --hard origin/main
              git clean -fd
            else
              git clone https://github.com/DevenderNarra/smartail-assigment.git .
            fi
            git log -1 --oneline

            echo "Stopping old containers..."
            sudo docker-compose down

            echo "Building new containers..."
            sudo docker-compose build --no-cache

            echo "Starting containers..."
            sudo docker-compose up -d --force-recreate --remove-orphans

            echo "Deployment completed!"